%fieldSize {
    height: 2.5rem;
    width: 25rem;
}

%flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    @extend %flexColumnCenter;
    align-items: center;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    h1 {
        color: $white;
        letter-spacing: 0.05rem;
    }
}

// Form
#create-employee {
    @extend %flexColumnCenter;

    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
    padding: 30px;
    border-radius: 10px;
    row-gap: 2rem;
    margin: 2rem auto;

    label {
        font-size: 1rem;
        display: block;
        color: $customBlack;
        margin-top: 1rem;
        line-height: 2rem;
        font-weight: lighter;
    }

    input {
        border-radius: 5px;
        @extend %fieldSize;
    }

    select {
        padding: 0.5rem;
        border-radius: 5px;
        @extend %fieldSize
    }
}

.formContainer {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    flex-wrap: wrap;
}

#formAction {
    text-align: center;
    margin-top: 1.5rem;
    input {
        width: 100%;
        font-weight: 200;
        font-size: 1rem;
        border: none;
        background-color: #3e3f68;
        color: $white;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #3e3f68;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
        }
    }
}

.departement {
    @extend %flexColumnCenter;
}