.navigation {
    color: white;
    border-bottom: 1px solid;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    a:first-child {
        font-weight: bold;
        color: $black;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    a {
        color: #3e3f68;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #3e3f68;
            padding: 10px 15px;
            border-radius: 5px;
        }
    }




}

